body,
button,
input,
select,
textarea{
    font-family: 'Mada', sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6{
    clear: both;
}

p{
    margin-bottom: 1.5em;
}

b,
strong{
    font-weight: bold;
}

dfn,
cite,
em,
i{
    font-style: italic;
}

blockquote{
    margin: 0 1.5em;
}

address{
    margin: 0 0 1.5em;
}

pre{
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 20px;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code,
kbd,
tt,
var{
    font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym{
    border-bottom: 1px dotted #948e8e;
    cursor: help;
}

mark,
ins{
    background: #55dd50;
    text-decoration: none;
}

sup,
sub{
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup{
    bottom: 1ex;
}

sub{
    top: 1.5ex;
}

small{
    font-size: 75%;
}

big{
    font-size: 125%;
}

body{
    margin: 0;
    padding: 0;
}

.masthead{
    padding: 1em 2em;
    background-color: #ffffff;
    color: #1b0101;
    border-radius: 30px;
    box-shadow: 0.5px 10px #b29a9a;
}

.masthead h1{
    text-align: center;
    font-size: 50px;
}

.intro{
    padding: 2em 3em;
    color: #1c0202;
    background: #d5e1f0;
    border-radius: 30px;
    box-shadow: 0.5px 5px #34475d;
}

.intro p,
.test-area{
    margin: 0 auto;
    max-width: 550px;
    font-size: 22px;
    font-weight: 15px;
}

.test-area{
    margin-bottom: 4em;
    padding: 0 2em;
}

.test-wrapper{
    border: 5px solid rgb(129, 130, 132);
    border-radius: 10px;
}

#origin-text{
    margin: 1em 0;
    padding: 1em 1em 0;
    background-color: #d7f1d7;
    margin-top: 5px;
    border-radius: 50px;
    box-shadow: 0.5px 5px #003131;
}

#origin-text p{
    margin: 0;
    padding-bottom: 1em;
}

.test-wrapper{
    height:500%;
    display: flex;
}

.test-wrapper textarea{
    flex: 1;
}

.meta{
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.timer{
    font-size: 1.8em;
    font-weight: medium;
    color: #793104;
    box-shadow:1px 2px #1c0202;
}

.pattern{
    direction: rtl;
    padding-top: 50px;
}

#reset{
    margin-block: 1px;
    padding: 1em 1em;
    font-size: 1.1em;
    font-weight: bold;
    color: #010b0b;
    background: #f9f9f9;
    border-radius: 500px;
    border-bottom-color: rgb(117, 117, 156);
    border-top-color:rgb(117, 117, 156);
    border-left-color:rgb(117, 117, 156);
    border-right-color:rgb(117, 117, 156);
}

#reset:hover{
    background-color: rgb(137, 137, 169);
    color: white;
}